* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --header-bg: #10375c;
}

body {
    font-family: "Sora", sans-serif;
}

/* ------common----- */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    --height-btn: 60px;
    display: inline-block;
    min-width: 205px;
    font-size: 1.8rem;
    font-weight: 400;
    color: #fff;
    background: #2e80ce;
    height: var(--height-btn);
    line-height: var(--height-btn);
    border-radius: 99px;
    text-align: center;
}

/* ----------Header---------- */
.header {
    background: var(--header-bg);
    padding-top: 30px;
    position: sticky;
    top: -20px;
    z-index: 1;
}

/* == header top == */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.navbar__list {
    display: flex;
}
.action__login,
.navbar__link {
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.8rem;
    padding: 4px 21px;
    font-weight: 300;
}

.navbar__link:hover,
.navbar__item--active {
    text-shadow: 0.5px 0 0 #fff;
}

.navbar__item--active::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.action__signup {
    --height-btn: 44px;
    min-width: 104px;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 7px;
}

.action__login:hover,
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.action__login {
    display: inline-block;
}

.action__login:active,
.btn:active {
    transform: scale(0.95);
}

/* ==== hero ==== */

.hero {
    background: var(--header-bg);
    margin-bottom: 70px;
    /* min-height: 100vh; */
}

.hero .container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}

.hero__infor {
    width: calc((517px / 1170px) * 100%);
    margin-top: 136px;
}

.hero__infor--tittle {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 8rem;
    letter-spacing: -0.14rem;
    margin-bottom: 22px;
}

.hero__infor--desc {
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 38px;
}

.hero__infor--contact {
    display: flex;
    gap: 38px;
    align-items: center;
}

.contact__phone-number {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 3rem;
}

.hero__img {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__img--item {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
    object-fit: fill;
}

.hero__img--item__small {
    width: 210px;
    height: 410px;
    border-radius: 0 6px 6px 0;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

/* services header  */

.services {
    padding-top: 100px;
    margin-bottom: 170px;
}

.services__header {
    text-align: center;
    margin-bottom: 70px;
}

.services__header--title {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
    margin-bottom: 18px;
}

.services__header--desc {
    color: #575f66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    display: inline-block;
    width: 468px;
}

/* services info */

.services__info {
    display: flex;
    gap: 130px;
}

.services__list--item a {
    display: block;
}

.services__list--items {
    margin-bottom: 55px;
}

.services__list--item {
    display: flex;
    align-items: flex-start;
    gap: 19px;
    padding: 21px 0 20px 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.3s;
}

.services__list--item:hover {
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.services__list--item___title {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 19px;
}

.services__list--item___desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}

.services__list--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05);
    transition: 0.3s;
}

.services__list--item:hover .services__list--icon {
    background: #2e80ce;
    color: #fff;
}

/* work */
.work {
    padding: 100px 0;
    background: #f6fbff;
}

.work__heading {
    width: 468px;
}

.work__header {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
    margin-bottom: 18px;
}

.work__desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
    margin-bottom: 86px;
}

.search__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}

.search__item {
    border: 16px solid #eaf6ff;
    border-radius: 4px;
    padding: 43px 42px;
    transition: 0.5s;
}

.search__item:hover {
    border-color: #2e80ce;
    transform: translateY(-16px);
}

.search__item--title {
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 3.6rem;
    margin-bottom: 28px;
}

.search__item--icon {
    margin-bottom: 18px;
}

.search__item--desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
    margin-bottom: 18px;
}

.search__item--learn-more {
    color: #2e80ce;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
}

.search__item--learn-more:hover {
    font-weight: 400;
}

/* Features */
.feature {
    padding-top: 170px;
    padding-bottom: 80px;
}

.feature .container {
    display: flex;
    gap: 130px;
}

.feature__img {
    width: 59.83%;
    position: relative;
}
.feature__img--item {
    width: 512px;
    height: 370px;
    border-radius: 6px;
    background: url(<path-to-image>) lightgray -1.5px 0px / 108.398% 100% no-repeat;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.07);
}

.feature__img--item__small {
    width: 332px;
    height: 370px;
    object-fit: cover;
    position: absolute;
    top: 131px;
    left: 238px;
    display: inline-block;
}

.feature__info {
    margin-top: 82px;
    padding-bottom: 83px;
}

.feature__info--title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem; /* 120% */
    letter-spacing: -0.1rem;
    margin-bottom: 18px;
}

.feature__info--desc {
    margin-bottom: 38px;
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem;
}

/* ======doctor======= */
.doctor {
    padding-top: 100px;
    padding-bottom: 100px;
}

.doctor__header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 38px;
}
.doctor__header--heading {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
}

.doctor__btn {
    margin-bottom: 70px;
}

.doctor__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    align-items: center;
    justify-content: center;
}

.doctor__img--container {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 12px;
}

.doctor__img {
    display: block;
    transition: 0.2s;
    height: 290px;
    object-fit: cover;
    max-width: 100%;
}

.doctor__img--container:hover .doctor__img {
    transform: scale(1.1);
}

.doctor__name {
    color: #10375c;
    display: flex;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.doctor__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.6rem;
    margin-bottom: 38px;
}

.doctor__list--arrow {
    background-color: #575f66;
    color: #fff;
    border: 1px solid #575f66;
}

.list--control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 18px;
}

.control__btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #575f66;
    color: #575f66;
    background: #fff;
}

.control__btn:hover {
    color: #fff;
    border: 1px solid #2e80ce;
    background-color: #2e80ce;
    cursor: pointer;
}

/* =====download==== */

.download {
    padding-top: 165px;
    padding-bottom: 70px;
}

.download .container {
    background: #2e80ce;
    display: flex;
    height: 427px;
    position: relative;
}

.download-thumb {
    position: absolute;
    bottom: 0;
    left: 70px;
}

.download__info {
    margin-left: 514px;
    margin-top: 76px;
    width: 50.08%;
}

.download__info--title {
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
    margin-bottom: 18px;
}

.download__info--desc {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3rem; /* 166.667% */
    margin-bottom: 38px;
}

.download__info .cta {
    display: flex;
    gap: 28px;
}

/* ======news====== */

.news {
    padding-top: 100px;
    padding-bottom: 70px;
    margin-bottom: 100px;
    margin-bottom: 170px;
}

.news__heading {
    width: 40.17%;
}

.news .container {
    display: flex;
    gap: 130px;
}

.news__heading--title {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
    margin-bottom: 28px;
}

.news__heading--read-all {
    color: #10375c;
    font-family: Inter;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.8rem; /* 155.556% */
    text-decoration-line: underline;
    text-decoration-skip-ink: none;
    text-underline-position: from-font;
    display: inline-block;
    margin-bottom: 28px;
}

.news__control--btn {
    justify-content: flex-start;
}

.news__info {
    max-width: 48.7%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.news__info--item {
    border-radius: 12px;
    border: 1px solid #e8ebee;
    background: #fff;
    box-shadow: 0 18px 50px 0 rgba(0, 0, 0, 0.05);
}

.news__info--item__text {
    padding: 18px 22px 21px;
}

.news__info--img {
    width: 270px;
    height: 172px;
    border-radius: 12px 12px 0 0;
    background: url(<path-to-image>) lightgray -2px -4.032px / 100.741% 104.688%
        no-repeat;
    object-fit: cover;
}

.news__info--title {
    color: #10375c;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.6rem;
    margin-bottom: 10px;
}

.news__info--desc {
    color: #575f66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 2.4rem;
    margin-bottom: 12px;
}

.news__info--learnmore {
    color: #2e80ce;
    font-size: 1.4rem;
    font-weight: 400;
}

.news__info--learnmore:hover {
    color: #10375c;
}

/*======== appoinment =======*/

.appoinment .container {
    background: #f6fbff;
    padding: 100px 0;
    margin-bottom: 170px;
}

.appoinment__inner {
    text-align: center;
}

.appoinment__header {
    color: #10375c;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: -0.1rem;
    position: relative;
    margin-bottom: 38px;
}

.appoinment__header::after {
    content: "";
    width: 136px;
    height: 2px;
    background: #2e80ce;
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    bottom: -18px;
    margin: 0 auto;
}

.appoinment__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
    margin: 0 auto 38px;
    max-width: 617px;
    display: block;
}

/* =======footer======== */

.footer {
    background: #10375c;
    padding: 100px 0 42px;
    font-family: "Open Sans", sans-serif;
}

.footer__desc {
    color: #a9b3bb;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.8rem;
    padding-top: 21px;
}

.footer__row {
    display: grid;
    column-gap: 78px;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    padding-bottom: 28px;
}

.footer__heading {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
    margin-bottom: 20px;
}

.footer__list {
    margin-bottom: 28px;
}

.footer__link {
    color: #a9b3bb;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
    margin-bottom: 10px;
    display: inline-block;
    white-space: nowrap;
}

.footer__link:hover {
    color: #fff;
    text-decoration: underline;
}

.footer__social {
    display: flex;
    gap: 10px;
}

.footer__social--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    color: #2e80ce;
    margin-bottom: 28px;
}

.footer__social--btn:hover {
    background: #2e80ce;
    color: #fff;
}

.footer__form {
    margin-top: 10px;
    display: flex;
    gap: 12px;
}

.footer__form--input {
    width: 212px;
    height: 46px;
    outline: none;
    border-radius: 4px;
    border: 1px solid #406181;
    background: transparent;
    color: #FFF;
    padding: 0 10px;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.footer__form--input::placeholder {
    color: #9ca8b1;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
}

.footer__submit {
    min-width: 108px;
    height: 46px;
    line-height: 100%;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.copyright__text {
    color: #aab3ba;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.6rem;
    padding-top: 28px;
    border-top: 1px solid #406181;
}
